
.playing-table{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}
.firstPagePlayingTable{
  position: relative;
  height: 100vh;
}
.playing-table-content{
  position: relative; 
}
.playing-table-img{
  z-index: -1;
  max-width: 900px;
}
.btn-group{
  position: absolute;
  top: 0px;
  left: 0px;
}
<<<<<<<< HEAD:CSS/style.css
========
h2 {
  color: rgb(216, 227, 253);
  border: 1px;
  font-weight: bold;
  position: absolute;
  top: 30px;
}
>>>>>>>> 54efc7f4e35e696ad9e5877b1b8d4c5dc94af709:css/style.css
.main-title{
  display: flex;
  justify-content: center;
  padding-top: 80px;
  color: rgb(238, 231, 221);
}
.navbar-setting{
  width: 60vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 25px;
  transition: ease-in 0.5s;
}
.navbar-setting.start{
  width: 60vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 25px;
  transform: translateX(-100%);
  transition: ease-in 0.5s;
}
.setting{
  width: 60vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 25px;
  transition: ease-in 0.5s;
}
.setting.menu{
  width: 60vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 25px;
  transform: translateX(-150%);
  transition: ease-in 0.5s;
}
.firstPageButton{
  cursor: pointer;
  width: 150px;
  border-radius: 5px;
  opacity: 70%;
  height: 35px;
  margin-bottom: 30px;
}
#first{
  margin-left: 15px;
}
#second{
  margin-left: 30px;

}
#third{
  margin-left: 40px;
}
#lets-start{
  margin-left: 50px;
}
#back{
  margin-left: 60px;
}
<<<<<<<< HEAD:CSS/style.css

h2{
  color:rgb(241, 46, 46);
  font-weight: bold;
  text-shadow: 5px;
}
========
>>>>>>>> 54efc7f4e35e696ad9e5877b1b8d4c5dc94af709:css/style.css
.card {
    height: 150px;
    width: auto;
    color:transparent !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.9s ease-in-out;
    margin-top: auto;
    margin-bottom: auto;
}
.playerPart{
  position: absolute;
  top: 20px;
  left: 20%;
}
.playerCard{
  margin-top: 80px;
}
.cardDealer{
  margin-top: 40px;
}
.dealerPart{
  position: absolute;
  top: 20px;
  left: 60%;
}

.container {
  
  display: flex;
}

.card { background-color: rgba(245, 245, 245, 0.01); }
.card-header, .card-footer { opacity: 0.0001}

@media screen and (max-width:600px){
  .card{
      width: 60px;
      height: 84x;
  }
  .btn{
      width: 120px;
      height: 40px;
  }
}


  